body {
    font-family: 'Arial', sans-serif;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    display: block;
}

@keyframes load {
    0% {
        stroke-dashoffset: var(--initial-offset);
    }

    100% {
        stroke-dashoffset: var(--final-offset);
    }
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.6s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: var(--circumference);
    stroke-dashoffset: var(--initial-offset);
}

.progress-ring__percentage {
    font-size: 0.75rem;
    /* Adjust the font size as needed */
}

.add-widget-btn {
    transition: background-color 0.2s, transform 0.2s;
}

.add-widget-btn:active {
    background-color: #e2e8f0;
    /* Lighter shade for feedback */
    transform: scale(0.98);
    /* Slight scale down effect */
}

.user-box {
    transition: background-color 0.2s, transform 0.2s;
}

.user-box:active {
    background-color: #e2e8f0; /* Lighter shade for feedback */
    transform: scale(0.98); /* Slight scale down effect */
}