.bg-stars {
    background-image: url('/assets/img/index/index/bg.jpg');
    background-size: cover;
    background-position: center;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

body {
    font-family: 'Infer', sans-serif;
}

.fullscreen {
    min-height: 100vh;
}

.hidden-section {
    visibility: hidden;
    position: absolute;
    width: 100%;
}

.shown-section {
    visibility: visible;
    position: relative;
}


.transition-section {
    transition: background-color 0.5s ease;
}

.white-background {
    background-color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
}